<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="../styles/hologram.css" />
  <title>gesture demo</title>
</head>

<body>

  <div class="container">
      <div class="draw-canvas" id="north"></div>

      <div class="draw-canvas" id="east" style="transform: rotate(90deg) translate(-3vh,0px)"></div>

      <div class="draw-canvas" id="west" style="transform: rotate(-90deg) translate(3vh,0px)"></div>
  </div>

  <div id="south-div-footer">
    <div id="south-div-center">
      <div class="draw-canvas" id="south"></div>
    </div>
  </div>

  <script src="./Drawing/js/lib/leap.js"></script>
  <script src='./Drawing/js/lib/d3.v3.min.js'></script>
  <script src='./Drawing/draw.js'></script>

</body>

</html>
