<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles/hologram.css" />
  </head>
  <body>

    <div class="container">
      <div>
        <img class="holo-img" id="north" src=<%= url %> />
      </div>

      <div>
        <img class="holo-img" id="east" src=<%= url %> />
      </div>

      <div>
        <img class="holo-img" id="west" src=<%= url %> />
      </div>
    </div>

    <div id="south-div-footer">
      <div id="south-div-center">
        <img class="holo-img" id="south" src=<%= url %> />
      </div>
    </div>

  </body>

  <script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script>
  	var socket = io();

  	socket.on('image url', function(url){
  		$('.holo-img').attr("src", url);
  	});
	</script>
</html>
