<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles/hologram.css" />
  <!-- <script src="views/Drawing/js/lib/leap.js"></script> -->
    <script src='views/Drawing/js/lib/d3.v3.min.js'></script>
    <!-- <script src="https://js.leapmotion.com/leap-0.6.4.js"></script> -->
    <script src="views/Globe/build/three.min.js"></script>
    <script src="views/Globe/build/three.js"></script>
    <script src="views/Globe/js/effects/PeppersGhostEffect.js"></script>
    <script src="views/Globe/js/Detector.js"></script>

  </head>
  <body>

    <div class="container">
      <div>
        <img class="holo-img" id="north" src=<%= url %> />
      </div>

      <div>
        <img class="holo-img" id="east" src=<%= url %> />
      </div>

      <div>
        <img class="holo-img" id="west" src=<%= url %> />
      </div>
    </div>

    <div id="south-div-footer">
      <div id="south-div-center">
        <img class="holo-img" id="south" src=<%= url %> />
      </div>
    </div>

  </body>

  <script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script>
  	var socket = io();

  	socket.on('image url', function(bodyHTML, url) {
      document.getElementsByTagName('body')[0].innerHTML = bodyHTML;

  		$('.holo-img').attr("src", url);
  	});

  	socket.on('draw-something', function(bodyHTML) {
      // console.log(document.getElementsByTagName('body')[0]);
  		document.getElementsByTagName('body')[0].innerHTML = bodyHTML;

      $('script').each(function() {
          if ($(this).attr('src') == 'views/Drawing/js/lib/leap.js' || $(this).attr('src') == 'https://js.leapmotion.com/leap-0.6.4.js') {
              var old_src = $(this).attr('src');
              $(this).attr('src', '');
              setTimeout(function(){ $(this).attr('src', old_src + '?'+new Date()); }, 250);
          }
      });

      var leapScript = document.createElement('script');
      leapScript.setAttribute('src', 'views/Drawing/js/lib/leap.js');
      document.head.appendChild(leapScript);

      setTimeout(function() {
        var drawScript = document.createElement('script');
        drawScript.setAttribute('src', 'views/Drawing/draw.js');
        document.head.appendChild(drawScript);
      }, 500);
  	});

    socket.on('spin-the-earth', function() {
      document.getElementsByTagName('body')[0].innerHTML = '';

      $('script').each(function() {
          if ($(this).attr('src') == 'views/Drawing/js/lib/leap.js' || $(this).attr('src') == 'https://js.leapmotion.com/leap-0.6.4.js') {
              var old_src = $(this).attr('src');
              $(this).attr('src', '');
              setTimeout(function(){ $(this).attr('src', old_src + '?'+new Date()); }, 250);
          }
      });

      var leapScript = document.createElement('script');
      leapScript.setAttribute('src', 'https://js.leapmotion.com/leap-0.6.4.js');
      document.head.appendChild(leapScript);

      setTimeout(function() {
        var drawScript = document.createElement('script');
        drawScript.setAttribute('src', 'views/Globe/globe.js');
        document.head.appendChild(drawScript);
      }, 500);
  	});
	</script>
</html>
