<!DOCTYPE html>
<html lang="en">
<head>
		<title>three.js webgl - effects - peppers ghost</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<script src="https://js.leapmotion.com/leap-0.6.4.js"></script>
</head>

<body>

<script src="./Globe/build/three.min.js"></script>
<script src="./Globe/build/three.js"></script>
<script src="./Globe/js/effects/PeppersGhostEffect.js"></script>
<script src="./Globe/js/Detector.js"></script>
<script src="./Globe/globe.js"></script>

</body>
</html>
