body {
  background-color: black;
  overflow:hidden;
}

.container {
  width: 140vh;
  margin: auto;
}

.holo-img {
  max-height: 30vh;
}

.draw-canvas {
  width: 300px;
  height: 300px;
}

canvas {
  display: block;
  margin: auto;
}

#north, #south {
  display: block;
  margin: auto;
}

#south-div-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#south-div-center {
    width: 500px;
    margin: 0 auto;
}

#north {
  /* Rotate div */
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

#east {
  /* Rotate div */
  float: left;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

#west {
  /* Rotate div */
  float: right;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}


/* Earth stuff */
#info {
    position: absolute;
    top: 0px;
    width: 100%;
    color: #ffffff;
    padding: 5px;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    z-index: 1000;
}

a {
    color: #ffffff;
}

#oldie a {
    color: #da0
}
