<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="styles/hologram.css" />

<title>gesture demo</title>
</head>
<body>

<div class="super">
  <div id="container1" class="innerContainer">
  </div>
  <div id="container2" class="innerContainer">
  </div>
  <div id="container3" class="innerContainer">
  </div>
  <div id="container4" class="innerContainer">
  </div>
</div>

<div class="container">
  <div>
    <div class="holo-img" id="north"></div>
  </div>

  <div>
    <div class="holo-img" id="east"></div>
  </div>

  <div>
    <div class="holo-img" id="west"></div>
  </div>
</div>

<div id="south-div-footer">
  <div id="south-div-center">
    <div class="holo-img" id="south"></div>
  </div>
</div>

<script src="js/lib/leap.js"></script>
<script src='js/lib/d3.v3.min.js'></script>
<script src='draw.js'></script>

</body>
</html>
